body{
    background: #fff;
    margin-bottom: 70px;
}

nav{
    margin-bottom: 15px;
}
.card{
    margin-bottom: 10px;
}
.card-header{
    background: #fff;
}
.card-img{
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-img,.card-author,.card-date{
    margin-bottom: 10px;
}
.card-img-max{
    height: 500px;
}
.card-btn{
    display: flex;
}

.card-btn a {
    margin-right: 10px;
}
